
body {
  height: 2000px;
}

.serval-mid{
  width: 12.72%;
  position: relative;
  margin-top: -10px;
  left: 46.655%;
  background-image:url("serval-mid.svg");
  height: 100%;
  background-repeat:repeat-y;
}

.serval-top{
  position: relative;
  left: 25%;
  width: 50%;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  user-drag: none;
  -webkit-user-drag: none;
}

.footer{
  position: fixed;
  right: 10px;
  bottom: 7px;
  color: #bbb;
  text-decoration: none;
}
